<h1>Delete Product</h1>

<form method="post">

    <input type="number" placeholder="Enter ProductId" name="id" class="col-form-label" />
    <button class="btn btnalert-primary">Delete</button>
   
</form>
<div>
   
    
       <h1> @ViewBag.message</h1>
    @if (ViewBag.errorMessage != null)
    {
        <h1>@ViewBag.errorMessage</h1>
    }

</div>