<h1>Product List</h1>

<table class="table">
    @foreach (var item in ViewBag.products )
    {
        <tr >
            <td>@item.Pid</td>
            <td>@item.PName</td>
            <td>@item.PISinStock</td>
            <td>@item.Price</td>
            <td><button class="btn btn-primary">  Add To Cart</button> </td>
        </tr>
    }
</table>